html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
}

.app {
    display: flex;
    position: relative;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-track:hover {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Buttons */

.MuiButton-root {
    height: 40px;
    padding: 12px;
}