html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
}

.app {
    display: flex;
    position: relative;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-track:hover {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Link */


/* Button */

.MuiButton-contained {
    font-weight: 500 !important;
}

/* TextField */

.MuiTextField-root {
    width: 100%;
}

.MuiOutlinedInput-root {
    border-radius: 8px !important;
    /*border: 1px solid rgba(255, 255, 255, 0.6) !important;*/
    height: 56px;
}

.MuiOutlinedInput-root {
    font-weight: 300 !important;

}

.MuiFormLabel-root {
    font-weight: 300 !important;
}

.MuiFormHelperText-root {
    text-align: right !important;
}